@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss';

.ag-theme-alpine {
    @include ag-theme-alpine(
        (
            odd-row-background-color: #bfc8dc,
        )
    );
}
